    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="First Name" name="first_name">
            <label for="floatingInput" class="form-label">First Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="First Name" name="last_name">
            <label for="floatingInput" class="form-label">Last Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="emai@email.com" name="email">
            <label for="floatingInput" class="form-label">E-mail</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone No." name="phone">
            <label for="floatingInput" class="form-label">Phone No.</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingInput" placeholder="comments" name="comments" style="height:200px">{{this.comments}}</textarea>
            <label for="comments" class="form-label">Comments</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.status}}"placeholder="leave a comment here" name="status">
            <label for="floatingInput" class="form-label">Status</label>
        </div>
    </div>
    
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>